/*
header, ul#main-navbar, p{
    direction: rtl;
}
p, li, h1, h2, h3, h4, h5, div{
    font-family: "Cairo";
}
ul#main-navbar li{
    float: right;
}
*/


/*

Header

*/
header #main-navbar-container #main-navbar li a[href^="../"]{
    font-family: "Raleway", sans-serif;
}
header #main-navbar-container .container .row, 
.navbar-right:last-child{
    flex-direction: row-reverse;
}

@media (min-width: 768px) {
    /*bootstrap-rtl.min.css:9*/
    .navbar-right:last-child {
        margin-left: 0;
        margin-right: 0;
    }
    .nav>li>a {
        direction: rtl;
    }
    #main-navbar{
        display: flex !important;
    }
    #main-navbar>li:last-child{
        order: 1;
    }
    #main-navbar>li:nth-child(1){
        order: 2;
    }
    #main-navbar>li:nth-child(2){
        order: 3;
    }
    #main-navbar>li:nth-child(3){
        order: 4;
    }
    #main-navbar>li:nth-child(4){
        order: 5;
    }
}

@media (max-width: 768px) {
    #main-navbar li.dropdown>ul {
        border: #fde900 solid;
        border-width: 0 4px 4px 0;
    }
}

@media (min-width: 480px) {
    #top-header{
        justify-content: center;
    }
    #top-header div[class*="col-"]{
        width: auto;
    }
/*=======    Banners   ========*/
    
    .jumbotron#home-banner .container-fluid {
        background-image: url(../img/home-banner.jpg);
    }
    .inner-banner.landing-banner {
        background-image: url(../img/templates-banner.jpg);
    }
    .inner-banner.showcase-banner {
        background-image: url(../img/webdesign-banner.jpg);
    }
    .inner-banner.fb-banner {
        background-image: url(../img/social-banner.jpg);
    }
    .inner-banner.vid-banner {
        background-image: url(../img/video-banner.jpg);
    }
    .inner-banner.contact-banner {
        background-image: url(../img/contactus-banner.jpg);
    }
    .inner-banner.logo-banner{
        background-image: url(../img/logo_creation.jpg);
    }
}
@media (max-width: 480px) {
    
/*=======    Banners   ========*/
    
    .jumbotron#home-banner .container-fluid {
        background-image: url(../img/mobile/home-banner.jpg) !important;
    }
    .inner-banner.landing-banner {
        background-image: url(../img/mobile/templates-banner.jpg);
    }
    .inner-banner.showcase-banner {
        background-image: url(../img/mobile/webdesign-banner.jpg);
    }
    .inner-banner.fb-banner {
        background-image: url(../img/mobile/social-banner.jpg);
    }
    .inner-banner.vid-banner {
        background-image: url(../img/mobile/video-banner.jpg);
    }
    .inner-banner.contact-banner {
        background-image: url(../img/mobile/contactus-banner.jpg);
    }
    .inner-banner.logo-banner{
        background-image: url(../img/mobile/logo_creation.jpg);
    }
}

.inner-banner {
    background-blend-mode: normal !important;
}

.inner-banner:before {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

header #main-navbar-container #main-navbar li a {
    text-align: right;
    direction: rtl;
/*        font-size: 1.2em;*/
}

@media (max-width: 767px) {
    #main-navbar {
        left: auto;
        right: 0;
    }
}

header #top-header>*:first-child:after {
    left: auto;
    right: 100%;
}

header #main-navbar-container #main-navbar li ul {
    left: auto;
    right: 0;
}

.inner-banner .container .row h2 {
    text-align: right;
}

#contact-banner.inner-banner .container .row h2 {
    text-align: left !important;
        font-size: 2.8em;
    white-space: nowrap;
}


/*

Footer

*/

footer .row {
    direction: ltr;
}


/*

global

*/
a{
    direction: ltr;
/*    display: inline-block;*/
}
a[href*="tel"]:not(.phone-widget),
a[href*="mailto"]{
    direction: ltr;
    display: inline-block;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
div {
    font-family: "Cairo";
    direction: rtl;
}

.text-center {
    text-align: center !important;
}

.arrow.right:before {
    right: auto;
    left: 0;
}

.text-left {
    text-align: right !important;
}

.text-right {
    text-align: left !important;
}

*[data-large] {
    margin-left: auto;
    margin-right: 65px;
}

*[data-large]:before {
    right: auto;
    left: calc(100% + 10px);
    border-right: #1c1c1c 3px solid;
    border-left: 0;
}

.flipImg {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.btn-request{
    flex-direction: row-reverse;
}
.btn-request>span.text{
    letter-spacing: 0;
}
.btn-request>span.arrow:before{
    right:auto;
    left: 100%;
}
.filterWrapper.atEnd{
    
}
div.form-title.col-sm-12 > div > h1{
        line-height: 1.5;
    font-weight: bold !important;
}
.contact-form .page-header small, .contact-form .form-title small{
    font-weight: normal;
}
.contact-form .form-title small>span{
    font-weight: normal;
    color: #e80000;
}
.gallery .thumbnail .caption:after{
    content: "اضغط هنا لنسخ كود النموذج";
}
.gallery .filter-btn-group button{
    margin-left: 4px !important;
}
@media (max-width: 767px){
    .gallery .filter-btn-group button {
        margin-left: 0 !important;
    }
}
select.form-control{
    padding: 3px;
}
.contact-data-item:not(:first-child):before{
    left:100%;
    right:auto;
}
/* 

index

*/

#arrow {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -10%;
}
.jumbotron#home-banner .container-fluid .row .slogan p{
    font-size: 2.5em;
}
.jumbotron#home-banner .container-fluid .row .slogan .slogan-text * {
    line-height: 1.2;
}

#landing .row .showcase .row .page-header.main h1 {
    font-family: inherit;
    line-height: 1.4;
}
#landing .row .showcase .row #showcase .page-header h1, #landing .row .showcase .row #showcase .page-header h1 small{
    line-height: 1.2;
}
#landing .row .showcase .row h1 small {
    letter-spacing: 0;
    line-height: 1.2;
}

#social #digital-marketing .row .padding-col h2 {
    text-align: right;
}

#social #fb-preview .carousel .carousel-indicators {
    left: auto;
    right: 100%;
        margin-right: -10px;
        margin-left: auto;
}

#social #digital-marketing .row .padding-col .btn .icon:after {
    left: auto;
    right: 100%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#social #digital-marketing .row #digital-marketing-img {}

#social #digital-marketing .row .padding-col .btn .text {
    padding: 2px 18px;
}

#social #digital-marketing .row .padding-col:before {
    right: auto;
}

.inner-banner .container .row>div>div {
    padding-left: 0;
    padding-right: 15px;
}
#social #digital-marketing .row .padding-col h2 small{
    line-height: 1.5;
}
#social #digital-marketing:after{
    right: auto;
    left: 0;
}
